
*, *::before, *::after {
    box-sizing: border-box;
  }
  
  body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 15px;
    display: flex;
    justify-content: center; 
    align-items: flex-start;
    min-height: 100vh; 
    background-color: #000000;
    overflow-x: hidden; 
    -webkit-overflow-scrolling: touch; 
background: black !important;
  }

#head {
  width: 100vw;
  z-index: 1010 !important;
  height: auto;
  min-height: 3.87rem;
position: absolute;
background: transparent;
overflow-x: hidden;
top: 0.69rem;
}

#toggleUnits, #toggleUnits button {
  width: 18vw;
  position: relative;
  background: linear-gradient(to right, #c1fcd6, #e6ffec, #ffffff);

  height: auto;
  font-size: 0.63rem !important;
  margin-left: -12.8vw;
}

#translateButton {
  width: auto;
  pointer-events: all;
  padding-left: 1.32rem;
  padding-right: 1.32rem;
position: relative;
margin-left: 10vw;
background: linear-gradient(to right, #c1fcd6, #e6ffec, #ffffff);


  padding-bottom: 0.4rem;
  padding-top: 0.4rem;
}



/*

  .step {

    text-align: center; 
    display: flex; 
    flex-direction: column; 
    transition: opacity 1.2s ease-in-out; 
  }
  
  .step:not(.active) {
   display: none;
    visibility: hidden; 

    
  }
  
  .step.active {
    display: flex; 
    opacity: 1;
     visibility: visible; 

  }
  */

  
  .step {
    opacity: 0;
    scale: 0.6;
    visibility: hidden;
    transition: opacity 1.3s ease, visibility 2s, scale 1.4s;
    position: absolute;
    width: 100vw;
    top: 0;
    left: 0;
  }
  
  .step.active {
    opacity: 1;
    scale: 1;
    visibility: visible;
    position: relative;
  }

.gradient-text {
  font-weight: bold;
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
  background-size: 180% 180%;
  animation: gradientMove 4s ease-in-out infinite;
}
@keyframes gradientMove {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

#ig {
  background-image: linear-gradient(90deg, #75fe8a, #23e3c0, #bfeda0, #a5cac7);
}

#ig6 {
  background-image: linear-gradient(90deg, #75fe8a, #23e3c0, #bfeda0, #a5cac7);
}


#ig3 {
  background-image: linear-gradient(90deg, #75fe8a, #23e3c0, #bfeda0, #a5cac7);
}


#ig4 {
  background-image: linear-gradient(90deg, #75fe8a, #23e3c0, #bfeda0, #a5cac7);
}

#ig5 {
  background-image: linear-gradient(90deg, #75fe8a, #23e3c0, #bfeda0, #a5cac7);
}


  
  
  label {
    display: flex;
    flex-direction: column; 
    align-items: flex-start; 
    font-weight: bold;
    color: #373636 ;
    margin-bottom: 1rem;
  }
  
  input[type="number"],
  select {
   
   color: #202020;
    appearance: none; 
    -webkit-appearance: none; 
    background-color: #ddffec; 
  }
  
  #clubInputs {
    display: flex;
    flex-direction: column;
  }
  
  #clubInputs label {
    flex-direction: row;
    justify-content: space-between; 
    align-items: center;
  }
  
  #clubInputs input[type="number"] {
    flex-shrink: 0;
    text-align: center;
    margin-top: 0;
  }
  
  
  button {
    color: #5a5a5a ;
    cursor: pointer;
    transition: background-color 0.3s ease;
    align-self: center;
    font-size: 1.4rem !important;
    width: 40vw;

  }
  
  #result {
    
    white-space: pre-wrap; 
    text-align: left;
    flex-direction: column;
    align-items: center;
    align-content: center;
    width: 44vw;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.48rem;
    font-weight: bold;
    color: #414141;
    overflow-wrap: break-word;
    margin-bottom: 5rem;
    margin-top: 3.2rem;

  }
  




  .swipe-container {
    position: relative;
    width: 100%;
    overflow: hidden;
    height: 100px; 
  }
  
  .club-card {
    position: absolute;
    width: 100%;
    left: 0;
    top: 0;
    opacity: 0;
    transition: opacity 0.3s ease, transform 0.3s ease;
    transform: translateX(100%);
  }
  
  .club-card.active {
    opacity: 1;
    transform: translateX(0);
    position: relative;
  }

  @media screen and (orientation: landscape) and (min-width: 589px) {
   .step, section, div, button, input, select, option {
      display: none;
      visibility: hidden;
      scroll-behavior: none;
      overflow: hidden;
      pointer-events: none;
    }
  }
  
  @media (max-width: 469px) {
    
  
   
  
    h3 {
      font-size: 1.6rem;
      margin-bottom: 2rem;
    }
  
    #clubInputs label {
      flex-direction: column; 
      align-items: flex-start;
    }
  
    #clubInputs input[type="number"] {
      max-width: none; 
    }
  
  
  input {
    height: 4rem !important;
    margin-top: 6svh !important;
    background: linear-gradient(to right, #f4feff, #c3d5d5, #80b6ad) !important;
    color: #5a5a5a !important;
    border: none !important;
box-shadow: 0 0 3px #ffffff !important;
border-radius: 12px;
font-size: 1.2rem;
font-weight: bolder;


  }

  #distance, #distance input, #windSpeed, #wsd {
    min-width: 66vw;

  }
  button {
    height: 3.2rem !important;
    margin-top: 2svh !important;
    color: #5a5a5a !important;
    border: none !important;
    border-radius: 12px;
    font-size: 1.2rem;
    font-weight: bolder;


box-shadow: 0 0 3px #ffffff !important;
  
  }
  
  
  option, select {
    background: linear-gradient(to right, #f4feff, #b8d4d4, #80c3b8) !important;
border: none !important;
box-shadow: 0 0 3px #ffffff !important;
    height: 4rem !important;
    margin-top: 6svh !important;
    border-radius: 12px;
    font-size: 1.2rem;
    font-weight: bolder;    
    min-width: 66vw;
    padding: 0.32rem;

    color: #5a5a5a !important;
  
  }
  
  }

/*
  #step0 {
    align-items: center;
    align-content: center;
    display: flex;
    flex-direction: column;
    height: auto;
    margin-top: 4.8rem;
    width: 100vw;
  }
  */
  
  
#next, #next1, #next2, #next3, #next4 {
    margin-top: 4.2rem !important;
    margin-bottom: 1.8rem;
    background: linear-gradient(to right, #00ffb7, #19e582, #3bff52, #ffffff) !important;

    animation: azurex 6.4s ease-in-out infinite;
}

#so {
  margin-top: 3.2rem !important;
  background: linear-gradient(to right, #2c8c9b, #20d9d6, #0dffe3, #ffffff) !important;

}

#calibrateBtn {
  background-image: url(final.png) !important;
  background-size: cover;
  background-repeat: no-repeat;
  box-shadow: 0 0 4px #fbee35 !important;
  color: white !important;
    width: 88vw !important;
    height: auto !important;
    min-height: 72vw;
    margin-bottom: 5rem;
    margin-top: 12svh !important;
}

#back, #back1, #back2, #back3, #back4, #back5 {
    animation: azurey 6.4s ease-in-out infinite;
    background: linear-gradient(to right, #ff0a58, #ff4c58, #e29797, #ffffff) !important;

}

  ::-webkit-scrollbar {
      display: none;
      visibility: hidden;
      color: white;
  }




@keyframes azurex {

0%, 100% {
opacity: 1;
scale: 1;
transform: rotateX(0) translateX(0);

}

50% {
    opacity: 0.7;
    scale: 0.94;
    transform: rotateY(16deg) translateX(3vw);

}


}


@keyframes azurey {

    0%, 100% {
    opacity: 1;
    scale: 1;
    transform: rotateX(0) translateX(0);

    }
    
    50% {
        opacity: 0.7;
        scale: 0.94;
        transform: rotateY(-16deg) translateX(-3vw);
    }
    
    
    }



button:hover, button:active {
  filter: brightness(1.11);
  background: linear-gradient(to right, #00ffb7, #54fcff);

}




.tilt-container {
  perspective: 84svh;
}

.card {
  margin-top: 0.4rem;
  width: 80vw;
  height: 38svh;              
background: transparent;
  border-radius: 8px;
  font-size: 1.4rem;

  transform-style: preserve-3d;
  transition: transform 0.122s ease-out;
  overflow: hidden;          
}

.card-inner {
  font-size: 1.4rem;
  height: 98%;
  overflow-y: auto;         
  padding: 20px;
  box-sizing: border-box;
  color: #fff;
}

#step0 {
  scroll-margin: 4.2rem;
}

#step0, #step1, #step2, #step3, #step4 {
  display: flex;
  margin-top: 4.9rem;
  flex-direction: column;
  align-items: center;
  align-content: center;
  overflow: hidden;
  width: 100vw;
  min-height: 100vh;
  height: auto;

  background: transparent;
}

#step5 {
  display: flex;
  margin-top: 4rem;
  flex-direction: column;
  align-items: center;
  align-content: center;
  overflow: hidden;
  width: 100vw;
  height: auto;
  min-height: 100%;
}

#distance::placeholder, #windSpeed::placeholder {
  color: #5a5a5a;
  opacity: 1;
}


#poks {
  z-index: 1001;
  width: 100vw;
  min-height: 100vh;
  height: auto;
  overflow-x: hidden;
  scroll-behavior: none;
  min-height: 100vh;
  position: absolute;
background: black;
  display: flex;
  flex-direction: column;
  align-items: center;
  align-content: center;
}

.poks-content {
  opacity: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  align-content: center;
  
  transform: translateX(-48vw) scale(0.8);
  transition: opacity 8s ease, transform 2s ease;
}

.poks-content.fade-in {
  opacity: 1;
  transform: translateX(0) scale(1);
}

.poks-content p {
    z-index: 1008 !important;
    font-size: 2rem;
    text-shadow: 0 3px 8px #000000;
color: white;

    position: relative;
text-align: center;
font-weight: bold;
font-family: sans-serif;
}




#sectionh3 {
  /*
  color: #414141 !important;
  margin-top: 18svh;
  text-shadow: 0 0 1.32px #10ff9f;
*/

  font-size: 24vw;
  text-transform: uppercase;
  font-weight: 900;
  background: url('images2/title.jpg') center/cover no-repeat;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  color: transparent;

  font-family: 'Impact', 'Anton', sans-serif; 
}

#rch3 {
  margin-top: 10svh;
  width: 88vw;
  flex-direction: column;
  text-align: center;
}



#sectionp, #sectionp3 {
  font-size: 1.1rem;
  line-height: 1.69rem;
  color: #8d8d8d;
  width: 92vw;
  height: auto;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;

  text-align: center;
}
#sectionp2 {
  font-size: 1.2rem;
  font-weight: bold;
color: #343434;
  width: 72vw;
  height: auto;
  text-align: center;
}

#feedbck {
width: 9.32rem !important;
  margin-bottom: 4rem;
  animation: puls 4s ease-in-out infinite;
  background: linear-gradient(to right, #ffffff, #ffc4d3, #84ffe8, #ffffff);
}

@keyframes puls{
  0%, 100% {
   transform: scale(1);
   filter: brightness(1.1) grayscale(0);

  }
  50% {
    transform: scale(0.92);
    filter: brightness(0.94) grayscale(8%);
  }
}

#clubImage {
  display:none; 
  border-radius: 12.8px;
  box-shadow: 0 0 3px #121212;
  width:240px; 
  margin-top: 0;
  margin-bottom: 2.4rem;

}


#homeimg, #homeimg img {
  position: relative;
  margin-top: 10px;
  width: 3.48rem;
  height: auto;
pointer-events: all;
}

#hom {
  pointer-events: all;

}

#cont {
  width: 100vw;
  display: flex;
  flex-direction: row;
  align-items: center;
  align-content: center;
  gap: 20vw;
  margin-left: 4vw;
}



body, html {
    overflow: hidden;
}








#div1{
    width: 100vw;
    height: 20svh;
    top: 0;
 position: absolute;
 z-index: 1001;
 background-color: #000000;

}


#div1::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url(card28.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    filter: blur(3px) ;
}

#div2 {
    width: 100vw;
    height: 20svh;
    background-color: #000000;

    top: 20svh;
 position: absolute;
 z-index: 1001;
}


#div2::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url(card51.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    filter: blur(3px) brightness(0.8);
}

#div3 {
    width: 100vw;
    height: 20svh;
 position: absolute;
 z-index: 1001;
 top: 40svh;
 background-color: #000000;

}


#div3::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url(card31.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    filter: blur(3px) brightness(0.8);
}

#div4 {
    width: 100vw;
    height: 20svh;
 position: absolute;
 background-color: #000000;

 top: 60svh;
 z-index: 1001;
}

#div4::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url(card51.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    filter: blur(3px) brightness(0.8);
}

#div5 {
    width: 100vw;
    height: 20svh;
    background-color: #000000;

 position: absolute;
 z-index: 1001;
 top: 80svh;
}


#div5::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url(card28.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    filter: blur(3px) brightness(0.8);
}


#alku {
    width: 100vw;
    height: 100vh;
    position: fixed;
    z-index: 1000;
    display: flex;
    flex-direction: column;
    align-items: center;
    align-content: center;
    overflow: hidden;
}










